---
import { Counter } from '@components/counter';
import Title from '@components/shared/Title.astro';
import MainLayout from 'src/layouts/MainLayout.astro';
---

<MainLayout title="Favoritos">
	<Title>Favoritos</Title>
</MainLayout>
